/*////////////// Fonts //////////////*/

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);

/*////////// Global Styles //////////*/

* {
	padding: 0;
	margin: 20px, 40px;
}

body {
	background: rgb(231, 224, 222);
	font-size: 100%;
	font-family: 'Times New Roman', serif; 	
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

#header-photo{
	width:100%;
	border: 10px solid lightgrey; 
}

h1{
	color: grey; 
	font-family: 'Libre Baskerville', serif;
	font-size: 5em;
	background: white;
	border-bottom: 1px solid lightgrey;
}

h2{
	color: grey; 
	font-size: 2em;
}

p {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
	background: white; 
}

#footer{
	text-align: right;
}